* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: inter, sans-serif;
}

body {
    background-color: #07081A;
}

header {
    border-bottom: 1px solid #261C51;
    margin-bottom: 64px;
}

nav {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.logo {
    align-self: flex-end;
}

.navigation {
    display: flex;
    color: white;
    font-size: 18px;
    gap: 16px;
    padding-bottom: 5px;
}

.HomeText {
    color: #8CE900;
}

main {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.First__Container {
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 64px;
}

h1 {
    font-size: 48px;
    color: white;   
}

.Second__Container {
    padding: 40px 72px;
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color:#242642;
    margin-bottom: 200px;
}

.Content {
    width: 175px;
    text-align: center;
}

h2 {
    font-size: 56px;
    color: #8CE900;
    font-weight: 500;
}

.Content__P {
    color: #C0C0C0;
    font-size: 20px;
}

.Third__Container {
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 64px;
}

.Mini__Div {
    color: #C0C0C0;
    line-height: 24px;
    width: 264px;
    font-size: 14px;
    font-weight: 400;
}

.Logo__Second {
    margin-bottom: 16px;
}

ul {
    color: white;
    list-style-type: none;
}

li {
    margin-bottom: 16px;
}

ul li:first-child {
    color: #8CE900;
}